<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
			<!-- Remove the wildcard handler for Python FastCGI if it was added previously -->
			<remove name="Python FastCGI" />
		
			<!-- Add handler for static content in media directory -->
			<!-- 
			<add name="StaticFiles" path="media/*" verb="*" modules="StaticFileModule" resourceType="Unspecified" requireAccess="Read" />
			-->
        
            <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\ProgramData\envs_dirs\anq\python.exe|D:\ProgramData\envs_dirs\anq\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
    <appSettings>
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
        <add key="PYTHONPATH" value="D:\ITmanage" />
        <add key="DJANGO_SETTINGS_MODULE" value="ITmanage.settings" />
    </appSettings>
</configuration>